body {
  font-family: 'Martel Sans', 'arial', sans-serif;
}

button {
  border: 1px solid #DDD;
  border-radius: 2px;
  color: #4781A4;
}

.background-panel {
  background: #F6F6F6; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6F6F6', endColorstr='#F3F3F3'); /* для IE6-9 */
  background: -webkit-linear-gradient(top, bottom, #F6F6F6, #F3F3F3); /* для webkit-браузеров */
  background: -moz-linear-gradient(top, #F6F6F6, #F3F3F3); /* для firefox 3.6+ */
  background: -o-linear-gradient(top, #F6F6F6, #F3F3F3); /* для Opera 11.10+ */
  background: -ms-linear-gradient(top, #F6F6F6, #F3F3F3); /* для IE10+ */
}


table {
  color: #878787;
  text-align: left;
  border-collapse: collapse;
}


table td {
  padding: 0.5em;
  border: 1px solid #DDD;
}
table th {
  padding: 1em;
  border: 1px solid #DDD;
  color: #4781A4;
  font-weight: bold;
}

table tr:nth-child(1) {
  /*background-color: #B8B8B8;*/
  background-color: #E8E8E8;
}

table tr:nth-child(2n+3) {
  background-color: #F4F4F4;
}

table tr:nth-child(2n+2) {
  background-color: #FDFDFD;
}
