
.cart-details {
  max-width: 380px;
  box-shadow: 5px 5px 5px grey;
  overflow: auto;
  padding: 1em 2em;
  text-align: center;
}

table td {
  text-align: right;
}

/*table th:nth-last-child(1) {
  display: none;
}*/

table tr td:last-child {
  border: none;
  background-color: white;
  font-size: 0.8em;
  vertical-align: middle;
}

table tr td:last-child:hover {
  cursor: pointer;
}

table tr td:first-child {
  text-align: left;
}



.order-button {
  display: inline-block;
  color: black;
  background: #FC0;
  border: 1px solid #CCC;
  border-radius: 3px;
  margin: 3em 0 1em;
  padding: 0.5em;
  float: left;
}
