/* Styles go here */

body {
  margin: 0;
  padding: 0;
  background: url('../img/bgbody.png');
  text-align: center;
}

/** {
  outline: 1px dashed lime;
}*/

.content-block {
  text-align: left;
  min-width: 250px;
  width: 77%;
  display: inline-block;
  background-color: white;
  box-shadow: 3px 0 3px #CCC, -3px 0 3px #CCC;
}

.top-panel {
  background-color: #FBFBFB;
  padding: 20px;
  font-size: 0;
}

.top-panel > * {
  font-size: 1rem;
}

.panel-addons {
  float: right;
  text-align: right;
}

.social-networks {
  padding-top: 2px;
  padding-right: 10px;
  display: inline-block;
  font-size: 0;

}

.social-networks img {
  margin: 3px;
}


.search-bar {
  display: inline-block;
  padding-top: 1px;
  vertical-align: top;
}

.search-bar > * {
  display: inline-block;
}

.search-bar input {
  color: #a2a2a2;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.3em 40px 0.3em 10px;
  box-sizing: border-box;
}

.search-bar button {
  margin-left: -38px;
  height: 17px;
  width: 35px;
  border: none;
  background: url('../img/search.png') no-repeat;
  vertical-align: middle;
}

.search-bar button:hover {
  cursor: pointer;
}

.top-panel a {
  text-decoration: none;
  color: #666666;
  font-size: 0.8rem;
  font-weight: 800;
  display: inline-block;
  vertical-align: top;
}

.top-panel a::before {
    display: inline-block;
    height: 0.6em;
    width: 0;
    border-left: 1px solid #666;
    box-sizing: border-box;
    content: "";
    margin: 0 10px 0.05em;
}

.top-panel a:first-of-type::before {
    display: none;
}

.goods-bordering-block {
  border: none;
  outline: 1px solid lightgrey;
  background: url('../img/bgheader.png');
  background-size: 5px 5px;
}

.navigation-block {
  border: none;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  min-height: 120px; /* for logo */
  text-align: center;
  padding: 20px 20px 15px;
}

.logo-area {
  text-align: center;
  float:left;
}

.logo {
  text-align: left;
  display: inline-block;
}

.logo > img {
  height: auto;
  width: 480px;
}

.logo-description {
  font-family: 'Arial', 'Tahoma', 'Helvetica', 'FreeSans', sans-serif;
  text-transform: uppercase;
  margin: -30px 0 0 100px;
  color: #676767;
  font-size: 14px;
}

.banner-wrapper {
  float: right;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.banner-wrapper > img  {
  height: 74px;
  width: 522px;
}

.navigation-bar-area {
  padding: 10px 0;
  clear: both;
}

.navigation-bar {
  color: white;
  background-color: #DE360F;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 2px 2px #DEDEDE;
  font-size: 0;
}

.navigation-bar a:first-of-type {
  color: #FC0;
  border-radius: 5px 0 0 5px;
}

.navigation-bar > a {
  display: inline-block;
  background-color: #DE360F;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 900;
  padding: 1em;
  border-right: 1px solid #CD320E;
}


.order-basket {
  text-align: left;
  background-color: #FC0;
  border-radius: 5px;
  border: 1px solid #F90;
  float: right;
  color: black;
  font-size: 1rem;
  line-height: 1;
  padding: 4px;
  margin: -5px 10px;
  height: calc(100% + 10px);
}

.order-basket > div {
  display: inline-block;
  vertical-align: top;
}

.order-basket img {
  float: left;
  height: 3em;
  width: auto;
  margin: 0.45em 0.5em;
}

.items-in-basket {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 15px 0.5em 0.2em 0;
}

.basket-total-price {
  font-size: 0.85rem;
  margin: 0.1em 0;
}

.goods-block {
  padding: 20px;
  /*display: table;*/
}

/*.goods-block > div {
  display: table-cell;
}*/

.slider {
  /*height: 50px;*/
  padding: 40px;
  text-align: center;
}

.left-arrow {
  /* for image of right arrow */
  float: left;
  /*left: calc(-50% + 15px);*/
}

.flip-horizontal {
  transform: rotate(180deg);
}

.right-arrow {
  float: right;
  /*right: calc(-50% + 15px);*/
}

.arrow-image img {
  height: 30px;
  width: auto;
}

.arrow-basic {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: #C3879D;
  border: 4px solid white;
  border-radius: 100%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 5px 5px 5px grey;
  /*box-sizing: border-box;*/
}

.arrow-basic:hover {
  cursor: pointer;
}

.slider-line {
  /*display: inline-block;*/
  height: 3px;
  background-color: #E0E3E4;
  /*width: 60%;*/
}

.center-vertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.goods-filtering {
  clear: both;
  float: right;
  font-weight: bold;
  width: 250px;
}

.filtering-block {
  /*display: inline-block;*/
  display: block;
  /*width: 100%;*/
  border: 1px solid #DDD;
  border-radius: 3px;
  color: #878787;
  margin-bottom: 20px;
}

.filter-categories-name {
  padding: 0.5em 1em;
  /*background-color: #F5F5F5;*/
  border-bottom: 1px solid #DDD;
}

.filter-categories-list {
  font-size: 0.9em;
  background-color: white;
  padding: 1em;
}


.filter-categories-list ul {
  list-style-image: url('../img/category-list-dot.png');
  padding: 0;
  margin: 0;
}

.filter-categories-list ul li {
  margin-left: 2em;
}

.filter-categories-list ul li a {
  text-decoration: none;
  color: #878787;
}

.filter-categories-list ul:after { /* Clearfix hack */
    content: "";
    display: block;
    clear: both;
}



.goods-layout {
  display: inline-block;
  width: calc(100% - 300px);
  text-align: center;
  /*width: 100%;*/
  /*display: table-cell;*/
}

.manage-layout {
  text-align: left;
}

.layout-control-panel {
  /*background: #F5F5F5;*/
  color: #4781A4;
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 5px 10px;
}

.manage-layout button {
  font-size: 0.7em;
  /*border: 1px solid #DDD;
  border-radius: 2px;*/
  text-align: right;
  /*color: #4781A4;*/
}

.grid-layout {
  background-image: url('../img/grid-layout.png');
}

.detail-layout {
  background-image: url('../img/detail-layout.png');
}

.basic-layout-button {
  padding-left: 17px;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  height: 20px;
}


.product-entry {
  display: inline-block;
  border: 1px solid #DDD;
  border-radius: 2px;
  text-align: left;
  margin: 10px;
}

.product-content {
  padding: 15px;
  /*text-align: left;*/
  background: #FBFBFB;
}

.product-photo-area {
  /*width: 100%;
  height: auto;*/
  width: 250px;
  height: 200px;
  border: 1px solid #DDD;
  /*background-position: center center;
  background-repeat: no-repeat; */
  /*position: relative;*/
  margin-bottom: -1.7em;
}

.product-photo {
  max-width: 100%;
  max-height: 100%;
  /*width: 150px;
  height: 120px;*/
  /*position: relative;*/
}


.product-name {
  padding: 0.5em 1em;
  font-weight: bold;
  /*background-color: #F5F5F5;*/
  border-bottom: 1px solid #DDD;
  color: #4781A4;
}



.product-price {
  display: inline-block;
  background-color: #DE360F;
  color: white;
  padding: 0 0.2em 0.2em;
  height: 1.7em;
  box-sizing: border-box;
  /*margin-top: -1em;*/
  /*position: relative;
  z-index: 2;*/
  /*top: -8px;*/
  /*transform: translateY(-100%);*/
  font-weight: bold;
}

.product-actions {
  font-size: 0;
  margin-top: 15px;
  text-align: center;
}

.add-to-cart {
  width: 130px;
  background-color: #E5E5E5;
  border-radius: 3px 0 0 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#EDEDED'); /* для IE6-9 */
  background: -webkit-linear-gradient(top, bottom, #FAFAFA, #EDEDED); /* для webkit-браузеров */
  background: -moz-linear-gradient(top, #FAFAFA, #EDEDED); /* для firefox 3.6+ */
  background: -o-linear-gradient(top, #FAFAFA, #EDEDED); /* для Opera 11.10+ */
  background: -ms-linear-gradient(top, #FAFAFA, #EDEDED); /* для IE10+ */
}

.more-info {
  width: 120px;
  border-radius: 0 3px 3px 0;
  background-color: #DEDEDE;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#E5E5E5'); /* для IE6-9 */
  background: -webkit-linear-gradient(top, bottom, #EDEDED, #E5E5E5); /* для webkit-браузеров */
  background: -moz-linear-gradient(top, #EDEDED, #E5E5E5); /* для firefox 3.6+ */
  background: -o-linear-gradient(top, #EDEDED, #E5E5E5); /* для Opera 11.10+ */
  background: -ms-linear-gradient(top, #EDEDED, #E5E5E5); /* для IE10+ */
}

.action-button {
  color: #878787;
  font-size: 14px;
  padding: 0.5em 0;
  border: 1px solid #DDD;
  text-transform: uppercase;
}

.action-button:hover {
  cursor: pointer;
}


.pagination-bar {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.pagination-bar a {
  text-decoration: none;
  color: #4781A4;
}

              .pagination-bar table {
                width: 100%;
              }

              .page-prev {
                text-align: left;
              }

              .page-home {
                text-align: middle;
              }

              .page-next {
                text-align: right;
              }


.pagination-bar span {
  display: inline-block;
}


.page-left {
  float: left;
}

.page-right {
  float: right;
}


.footer-block {
  clear: both;
  padding: 0.5em 2em;
  text-align: right;
  overflow: auto;
}

.footer-block a {
  text-decoration: none;
  color: #4781A4;
}


.about {
  display: inline-block;
  float: left;
  text-align: left;
}

.about p {
  margin: 0;
}

.copyright {
  font-size: 14px;
  font-weight: bold;
}


.powered-by {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: lighter;
}

.footer-block img {
  height: 40px;
  width: auto;
  vertical-align: middle;
  margin-left: 10px;
}




/* ----------------------------- media ---------------------------------- */

/* screen omitted */
@media (max-width: 1365px) {



.content-block {
  width: 1024px;
}

.navigation-block {
  text-align: center;
}


.banner-wrapper > img {
  width: 480px;
  height: auto;
}

.debug::before {
  content: "rule 1365";
}

}


@media (max-width: 1023px) {

.content-block {
  width: 768px;
}

/*.navigation-block {
  text-align: center;
}*/

.logo-area {
  float: none;
}

.banner-wrapper {
  float: none;
}

.debug::before {
  content: "rule 1023";
}


}

@media (max-width: 767px) {

.content-block {
  width: 480px;
}

.panel-addons {
  display: block;
  float: none;
  text-align: center;
  margin-bottom: 10px;
}


/*.logo-area {
  float: none;
}

.banner-wrapper {
  float: none;
}*/

.banner-wrapper > img {
  width: 480px;
  height: auto;
}

.navigation-block {
  padding: 0;
}

.order-basket {
  display: block;
  float:none;
  position: static;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.goods-filtering {
  float: none;
  width: 100%;
}


.filter-categories-list {
  text-align: center;
}

.filter-categories-list ul li {
  float: left;
  list-style-position: inside;
  list-style-type: disc;
  margin-left: 1em;
}

.goods-layout {
  display: block;
  width: 100%;
}


.debug::before {
  content: "rule 767";
}


}


@media (max-width: 479px) {

.content-block {
  width: 100%;
}

.logo-area {
  float: none;
  display: block;
  text-align: center;
  margin: 10px 0 5px;
  /*content: '<img src="img/shopping-cart.png">';*/
}

.logo-description {
  display: none;
}

.logo > img {
  width: 100%;
  height: auto;
}

.product-photo-area {
  width: 200px;
  height: 160px;
}

.add-to-cart {
  width: 105px;
}

.more-info {
  width: 95px;
}

.action-button {
  font-size: 12px;
}



/*.logo-area > img {
  width: auto;
  height: auto;
}*/

.banner-wrapper > img {
  width: 100%;
  height: auto;
}


.debug::before {
  content: "rule 479";
}


/*.banner-wrapper > img {
  width: 480px;
  height: auto;
}*/

/*.navigation-block {
  padding: 0;
}*/


}
